

<% @tabelas.each_with_index do |tabela, idx| %>
<% header = tabela.shift %>
  <h4><%= idx + 1 %>ª Interação</h4>
  <table class="table">
    <tr>
      <% header.each do |h| %>
           <th><%= h %></th>
      <% end %>
    </tr>
    <% tabela.each do |e| %>
         <tr>
           <% e.each do |i| %>
             <td><%= i %></td>
           <% end %>
         </tr>
    <% end %>
  </table>
<% end %>

<h3>Resultado</h3>

<% rows_res = @tabelas.last %>

<% rows_res.each do |row| %>
  <p><b><%= row.first %></b>: <%= row.last%></p>  
<% end %>